* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27739b
}



/* Todo App */
.todo-app {
    background-color: #fff;
    width: 500px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.todo-app input {
    width: 100%;
    border: 0;
    outline: 0;
}

.todo-app-title {
    text-align: center;
    color: #f8743b;
    font-size: 48px;
}




/* Todo App Top */

.todo-app-top {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 8px;
    border-bottom: 2px solid #aaa;
}

.todo-app-top .add-todo-text {
    padding: 12px 0;
}

.todo-app-top .add-todo-btn {
    background-color: transparent;
    font-size: 14px;
    background-color: #27739b;
    color: #fff;
    padding: 6px 8px;
    border-radius: 2px;
    border: 0;
    transition: opacity ease 0.3s;
}

.todo-app-top .add-todo-btn:hover {
    opacity: 0.7;
}

.todo-app-top .add-todo-btn:active {
    transform: scale(0.98);
}






/* Checks and ticks */
.check {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.check .square {
    border: 1px solid #aaa;
}

.check .circle {
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #aaa;
}

.tick {
    visibility: hidden;
}

.tick.active {
    visibility: visible;
}






/* Todo Item */

.todo-item {
    border-bottom: 1px solid #aaa;
    padding: 16px 8px;
    display: flex;
    gap: 12px;
    position: relative;
}

.todo-item .remove {
    border: 0;
    background-color: transparent;
    font-size: 24px;
    color: #d00000;
    cursor: pointer;
    position: absolute;
    right: 24px;
}




/* Todo App Bottom */

.todo-app-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px
}

.todo-app-bottom button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.todo-filter button {
    padding: 2px;
    margin-right: 8px;
}

.todo-filter button.clicked {
    border: 1px solid #aaa;
}

.todo-clear .clear:hover {
    text-decoration: underline;
}